.app {
  min-height: 100vh;
  background-color: #001699;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-loading {
  font-family: 'Swiss921', sans-serif;
  font-size: 2rem;
  color: #fff;
}

.app-done {
  font-family: 'Swiss921', sans-serif;
  font-size: 7rem;
  color: #fff;
  text-align: center;
}
